langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]
jupyterlab>=4.5.1
langchain-ollama
jupyterlab-git

